* {
  margin: 0;
}

/* .logo-img {
  width: 15vw;
  height: 25vh;
  margin: auto;
  display: flex;
  justify-content: center;
}

.card-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #265077;
  height: 100vh;
}

.card {
  color: white;
  border: solid 2px #797b68;
  background-color: #022140;
  height: 15vh;
  width: 15vw;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
} */

/* main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 100vh;
  width: 100vw;
}

.logo-img {
  width: 25vw;
  height: 45vh;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.left-flex {
  width: 50vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.right-flex {
  width: 50vw;
  height: 100vh;
}

.flex-seperator {
  display: flex;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
  width: 25vw;
  color: white;
  font-size: 23px;
}

.card-orange {
  background-color: rgb(231, 143, 10);
}

.card-black {
  background-color: rgb(39, 39, 39);
} */

/* selling points page */

.nav-bar {
  background-color: #17252a;
  color: white;
  height: 5vh;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 19px;
}

a:link {
  color: white;
  text-decoration: none;
}

a:visited {
  color: white;
}

.row-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.selling-page-header {
  text-align: center;
  margin-top: 5vh;
}

.selling-cards-pretty-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.selling-points {
  display: flex;
  flex-direction: column;
  margin: 3vw;
  text-align: center;
  padding: 1em;
  border-bottom-left-radius: 25px;
}

.selling-points h3 {
  font-size: 21px;
}

.selling-points p {
  font-size: 19px;
}

.selling-points-flex {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-top: 10vh;
}

.selling-card {
  margin: 1em;
}

.selling-blocks {
  display: flex;
  flex-direction: column-reverse;
  background-color: #d9b08c;
  padding: 15px;
}

.selling-point-div {
  width: 25vw;
  background-color: #d9b08c;
  border-bottom-left-radius: 20px;
}

.selling-point-img-div {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #d9b08c;
  width: 25vw;
  height: 25vh;
  border-top-right-radius: 15px;
}

.selling-point-img {
  width: 20vw;
  height: 20vh;
  border-radius: 45%;
}

@media screen and (width >= 850px) {
  main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100vh;
    width: 100vw;
  }

  .logo-img {
    width: 25vw;
    height: 45vh;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .left-flex {
    width: 50vw;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .right-flex {
    width: 50vw;
    height: 100vh;
  }

  .flex-seperator {
    display: flex;
  }

  .card {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    width: 25vw;
    color: white;
    font-size: 23px;
  }

  .card-orange {
    background-color: rgb(231, 143, 10);
  }

  .card-black {
    background-color: rgb(39, 39, 39);
  }
}

@media screen and (width <= 850px) {
  .logo-img {
    width: 35vw;
    height: 45vh;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .left-flex {
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .right-flex {
    width: 100vw;
    height: 100vh;
  }

  .flex-seperator {
    display: flex;
  }

  .card {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    width: 50vw;
    color: white;
    font-size: 23px;
  }

  .card-orange {
    background-color: rgb(231, 143, 10);
  }

  .card-black {
    background-color: rgb(39, 39, 39);
  }
}

@media screen and(width <= 600px) {
  .logo-img {
    width: 35vw;
    height: 35vh;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .left-flex {
    width: 50vw;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .right-flex {
    width: 50vw;
    height: 100vh;
  }

  .flex-seperator {
    display: flex;
  }

  .card {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    width: 25vw;
    color: white;
    font-size: 23px;
  }

  .card-orange {
    background-color: rgb(231, 143, 10);
  }

  .card-black {
    background-color: rgb(39, 39, 39);
  }
}

@media screen and (width <= 700px) {
  main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    width: 100vw;
  }

  .logo-img {
    width: 35vw;
    height: 35vh;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .left-flex {
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .right-flex {
    width: 100vw;
    height: 100vh;
  }

  .flex-seperator {
    display: flex;
    flex-direction: column;
  }

  .card {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25vh;
    width: 100vw;
    color: white;
    font-size: 23px;
  }
  .card-orange {
    background-color: rgb(231, 143, 10);
  }

  .card-black {
    background-color: rgb(39, 39, 39);
  }
}

@media screen and (min-width <= 500px) {
  .logo-img {
    width: 35vw;
    height: 35vh;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .left-flex {
    width: 50vw;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .right-flex {
    width: 50vw;
    height: 100vh;
  }

  .flex-seperator {
    display: flex;
  }

  .card {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    width: 25vw;
    color: white;
    font-size: 23px;
  }

  .card-orange {
    background-color: rgb(231, 143, 10);
  }

  .card-black {
    background-color: rgb(39, 39, 39);
  }
}

@media only screen and (max-width: 768px) {
  .logo-img {
    width: 45vw;
    height: 35vh;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 50vw;
  }
  .left-flex {
    width: 50vw;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .right-flex {
    width: 100vw;
    height: 100vh;
  }

  .flex-seperator {
    display: flex;
    flex-direction: column;
  }

  .card {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    width: 100vw;
    color: white;
    font-size: 23px;
  }

  .card-orange {
    background-color: rgb(231, 143, 10);
    font-size: 25px;
  }

  .card-black {
    background-color: rgb(39, 39, 39);
    font-size: 25px;
  }

  .row-flex {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

  .selling-point-img {
    width: 35vw;
    height: 25vh;
    border-radius: 45%;
  }

  .selling-point-div {
    width: 75vw;
    background-color: #d9b08c;
    border-bottom-left-radius: 20px;
  }
}
