* {
  margin: 0;
}

/* .logo-img {
  width: 15vw;
  height: 25vh;
  margin: auto;
  display: flex;
  justify-content: center;
}

.card-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #265077;
  height: 100vh;
}

.card {
  color: white;
  border: solid 2px #797b68;
  background-color: #022140;
  height: 15vh;
  width: 15vw;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
} */

/* main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 100vh;
  width: 100vw;
}

.logo-img {
  width: 25vw;
  height: 45vh;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.left-flex {
  width: 50vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.right-flex {
  width: 50vw;
  height: 100vh;
}

.flex-seperator {
  display: flex;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
  width: 25vw;
  color: white;
  font-size: 23px;
}

.card-orange {
  background-color: rgb(231, 143, 10);
}

.card-black {
  background-color: rgb(39, 39, 39);
} */

@media (width >= 850px) {
  main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100vh;
    width: 100vw;
  }

  .logo-img {
    width: 25vw;
    height: 45vh;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .left-flex {
    width: 50vw;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .right-flex {
    width: 50vw;
    height: 100vh;
  }

  .flex-seperator {
    display: flex;
  }

  .card {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    width: 25vw;
    color: white;
    font-size: 23px;
  }

  .card-orange {
    background-color: rgb(231, 143, 10);
  }

  .card-black {
    background-color: rgb(39, 39, 39);
  }
}

@media (width <= 850px) {
  .logo-img {
    width: 35vw;
    height: 45vh;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .left-flex {
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .right-flex {
    width: 100vw;
    height: 100vh;
  }

  .flex-seperator {
    display: flex;
  }

  .card {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    width: 50vw;
    color: white;
    font-size: 23px;
  }

  .card-orange {
    background-color: rgb(231, 143, 10);
  }

  .card-black {
    background-color: rgb(39, 39, 39);
  }
}

@media (width <= 600px) {
  .logo-img {
    width: 35vw;
    height: 35vh;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .left-flex {
    width: 50vw;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .right-flex {
    width: 50vw;
    height: 100vh;
  }

  .flex-seperator {
    display: flex;
  }

  .card {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    width: 25vw;
    color: white;
    font-size: 23px;
  }

  .card-orange {
    background-color: rgb(231, 143, 10);
  }

  .card-black {
    background-color: rgb(39, 39, 39);
  }
}

@media (width <= 700px) {
  main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    width: 100vw;
  }

  .logo-img {
    width: 35vw;
    height: 35vh;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .left-flex {
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .right-flex {
    width: 100vw;
    height: 100vh;
  }

  .flex-seperator {
    display: flex;
    flex-direction: column;
  }

  .card {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25vh;
    width: 100vw;
    color: white;
    font-size: 23px;
  }
  .card-orange {
    background-color: rgb(231, 143, 10);
  }

  .card-black {
    background-color: rgb(39, 39, 39);
  }
}

@media (width <= 500px) {
  .logo-img {
    width: 35vw;
    height: 35vh;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .left-flex {
    width: 50vw;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .right-flex {
    width: 50vw;
    height: 100vh;
  }

  .flex-seperator {
    display: flex;
  }

  .card {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    width: 25vw;
    color: white;
    font-size: 23px;
  }

  .card-orange {
    background-color: rgb(231, 143, 10);
  }

  .card-black {
    background-color: rgb(39, 39, 39);
  }
}
/* 
@media (width <= 500px) {
  .logo-img {
    width: 35vw;
    height: 35vh;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .left-flex {
    width: 50vw;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .right-flex {
    width: 100vw;
    height: 100vh;
  }

  .flex-seperator {
    display: flex;
    flex-direction: column;
  }

  .card {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    width: 100vw;
    color: white;
    font-size: 23px;
  }

  .card-orange {
    background-color: rgb(231, 143, 10);
  }

  .card-black {
    background-color: rgb(39, 39, 39);
  }
} */
